In [18]:
pip install pandas

Requirement already satisfied: pandas in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.13.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [19]:
import pandas as pd
data=pd.read_csv('modifcation.csv')

In [20]:
data

,panel name,surface,tilt,kWp,investment,payback,city
0,thin-filim solar panel,22,20,3010,1324400,6.840909,guntur
1,thin-filim solar panel,25,30,4300,3225000,5.733333,guntur
2,thin-filim solar panel,15,25,2100,787500,5.600000,guntur
3,thin-filim solar panel,23,20,3060,1407600,6.652174,guntur
4,thin-filim solar panel,23,45,2880,2980800,2.782609,guntur
...,...,...,...,...,...,...,...
472,monocrystalline solar panel,22,15,2870,947100,8.696970,godavari
473,monocrystalline solar panel,22,20,3000,1320000,6.818182,godavari
474,monocrystalline solar panel,15,30,2520,1134000,5.600000,godavari
475,monocrystalline solar panel,20,35,2940,2058000,4.200000,godavari
476,monocrystalline solar panel,23,25,2996,1722700,5.210435,godavari

In [21]:
data.head()

               panel name  surface  tilt   kWp  investment   payback    city
0  thin-filim solar panel       22    20  3010     1324400  6.840909  guntur
1  thin-filim solar panel       25    30  4300     3225000  5.733333  guntur
2  thin-filim solar panel       15    25  2100      787500  5.600000  guntur
3  thin-filim solar panel       23    20  3060     1407600  6.652174  guntur
4  thin-filim solar panel       23    45  2880     2980800  2.782609  guntur

In [22]:
data.tail()

,panel name,surface,tilt,kWp,investment,payback,city
472,monocrystalline solar panel,22,15,2870,947100,8.696970,godavari
473,monocrystalline solar panel,22,20,3000,1320000,6.818182,godavari
474,monocrystalline solar panel,15,30,2520,1134000,5.600000,godavari
475,monocrystalline solar panel,20,35,2940,2058000,4.200000,godavari
476,monocrystalline solar panel,23,25,2996,1722700,5.210435,godavari

In [23]:
data.loc[data['panel name'] == 'thin-filim solar panel', 'panel name'] = 0
data.loc[data['panel name'] == 'hybird solar panel', 'panel name'] = 1
data.loc[data['panel name'] == 'blue solar panel', 'panel name'] = 2
data.loc[data['panel name'] == 'monocrystalline solar panel', 'panel name'] =3
data.loc[data['panel name'] == 'SMA - Sunny Boy 3300 TL', 'panel name'] = 4
data.loc[data['panel name'] == 'Fronius - IG 30', 'panel name'] = 5
data.loc[data['panel name'] == 'SMA - Sunny Boy 1700', 'panel name'] = 6
data.loc[data['panel name'] == 'Diehl AKO - Platinum 4800TL', 'panel name'] = 7
data.loc[data['panel name'] == 'CONERGY - WR 1700', 'panel name'] = 8
data.loc[data['panel name'] == 'Photowatt - PWI-6-30-I', 'panel name'] = 9
data.loc[data['panel name'] == 'SMA - Sunny Boy 2500', 'panel name'] = 10
data.loc[data['panel name'] == 'SMA - Sunny Boy 2100TL', 'panel name'] = 11
data.loc[data['panel name'] == 'AEG - Protect-PV 250', 'panel name'] = 12
data.loc[data['panel name'] == 'SMA - Sunny Boy 3000TL', 'panel name'] = 13
data.loc[data['panel name'] == 'Sputnik - SOLARMAX 3000S', 'panel name'] = 14
data.loc[data['panel name'] == 'SMA - Sunny Mini Central 8', 'panel name'] = 15
data.loc[data['panel name'] == 'Schuco - SGI-3000', 'panel name'] = 16
data.loc[data['panel name'] == 'Danfoss - UNILYNX 3600', 'panel name'] = 17
data.loc[data['panel name'] == 'Mastervolt - SunMaster XS3200', 'panel name'] = 18
data.loc[data['panel name'] == 'Tenesol - Connectis EI 3300', 'panel name'] = 19
data.loc[data['panel name'] == 'CONERGY - IPG3000', 'panel name'] = 20
data.loc[data['panel name'] == 'Fronius - IG 20', 'panel name'] = 21
data.loc[data['panel name'] == 'Sputnik - SOLARMAX SM3000S', 'panel name'] = 22
data.loc[data['panel name'] == 'Photowatt - PWI-6-40-I', 'panel name'] = 23
data.loc[data['panel name'] == 'SMA - Sunny Boy 3300', 'panel name'] = 24
data.loc[data['panel name'] == 'SMA - Sunny Boy 3000', 'panel name'] = 25
data.loc[data['city'] == 'guntur', 'city'] = 26
data.loc[data['city'] == 'krishna', 'city'] = 27
data.loc[data['city'] == 'vijayawada', 'city'] = 28
data.loc[data['city'] == 'kurnool', 'city'] = 29
data.loc[data['city'] == 'godavari', 'city'] = 30

In [24]:
data

    panel name  surface  tilt   kWp  investment   payback city
0            0       22    20  3010     1324400  6.840909   26
1            0       25    30  4300     3225000  5.733333   26
2            0       15    25  2100      787500  5.600000   26
3            0       23    20  3060     1407600  6.652174   26
4            0       23    45  2880     2980800  2.782609   26
..         ...      ...   ...   ...         ...       ...  ...
472          3       22    15  2870      947100  8.696970   30
473          3       22    20  3000     1320000  6.818182   30
474          3       15    30  2520     1134000  5.600000   30
475          3       20    35  2940     2058000  4.200000   30
476          3       23    25  2996     1722700  5.210435   30

[477 rows x 7 columns]

In [25]:
x=data.iloc[:,[0,-1]].values

In [26]:
y=data.iloc[:,[1,2,3]].values

In [27]:
from sklearn.linear_model import LinearRegression

regressor=LinearRegression()
regressor.fit(x,y)

LinearRegression()

In [28]:
regressor.predict([[0,29]])

array([[  23.87513233,   27.81171786, 3109.89566046]])

In [29]:
x1=data.iloc[:,[4,6]].values

In [30]:
y1=data.iloc[:,[5]].values

In [31]:
from sklearn.linear_model import LinearRegression

regressor1=LinearRegression()
regressor1.fit(x1,y1)

LinearRegression()

In [35]:
regressor1.predict([[100000,26]])

array([[5.26324839]])

In [33]:
import pickle 
model=open('model.pkl','wb')
pickle.dump(regressor1,model)
model.close()

In [34]:
import pickle 
model=open('model1.pkl','wb')
pickle.dump(regressor,model)
model.close()